/*

 * === list

 * 0. common style
 * 1. index style
 * 2. chat style

 */


/*

 * ======= 0. common style

 */
.label a{vertical-align:top; color:#ffffff; text-decoration:none;display: block;padding: 1em}
a:hover {}
.txt-center{text-align: center}
.display-n{display: none}


/*

 * ======= 1. index style

 */

@media (max-width: 768px) {

    .yi-git-inner{
        width: 100% !important;
    }

    #wrap {
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 !important;
    }
    h1 {
        font-size: 1.5em !important;
    }
    h2 {
        font-size: 1.2em !important;
    }
    .card {
        width: 90% !important;
        padding: 10px 16px !important;
    }
    .bar {
        margin: .1em 0 !important;
    }
    .bar .label {
        text-align: center;
    }
    .count {
        display: block;
    }
    .expand img{width: 100% !important;}

}

@media (min-width: 769px) {
    .count {
        position: absolute;
    }
}


body{
    background-color: #f6f6f6;
    background-image: -webkit-radial-gradient(circle, hsla(0,0%,0%,.05) 25%, transparent 25%);
    background-image:    -moz-radial-gradient(circle, hsla(0,0%,0%,.05) 25%, transparent 25%);
    background-image:         radial-gradient(circle, hsla(0,0%,0%,.05) 25%, transparent 25%);
    background-size: 4px 4px;
}

#skip_nav{display: none;}


.yi-git{
    width: 100%;
    text-align: right;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
}
.yi-git-inner{
    padding: 0.2em 0;
    width: 1000px;
    margin: 0 auto 1em auto;
}

#wrap {
margin: 0 auto;
padding: 0 50px 50px;
min-width: 1000px;
width: 1000px;
}

.yi-git img{
    width: 2em;
    height: 2em;
}

h1 {
    margin: 0 !important;
    color: #f66;
    font: bold 48px/1 Quicksand, sans-serif;
    margin-bottom: 32px;
    text-shadow: 0 1px 0 #f6f6f6,
                 0 3px 0 #ccc;
    text-align: center;
}
h2 {
    color: #555;
    font: bold 24px/1.8 Quicksand, sans-serif;
    margin-bottom: 36px;
    text-shadow: 0 1px 0 #f6f6f6,
                 0 2px 0 #ccc;
    text-align: center;
}

h3{
    color: #444;
    font: bold 20px Quicksand, sans-serif;
    text-shadow: 0 1px 0 #f6f6f6, 0 2px 0 #ccc;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    margin: 0 0 15px 0;
    padding: 5px 0 10px 0;
}
p {
    color: #777;
    font: bold 16px/3 Quicksand, sans-serif;
    margin-top: 30px;
}
p a {
    border-bottom: 2px solid #fc6;
    color: #777;
    text-decoration: none;
}
p a:hover {
    border-color: #f66;
}

.card {
    background: #fff;
    border-radius: 2px;
    position: relative;
    width: 95%;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.gwrap {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.bar {
    border-radius: 5px;
    background: #FDD692;
    width: 0;
    margin: .25em 0;
    color: #fff;
    position: relative;
    transition: width 1s, background .1s;
    -webkit-transform: translate3d(0, 0, 0);
}
.bar:nth-of-type(2n) {
    background: #ffcb71;
}
.bar .label {
    cursor: pointer;
    border-radius: 5px;
    font-size: .75em;
    background: #454552;
    width: 9em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}


.label.close:before {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    font-size: 1em;
    color: white;
    right: 1em;
    top:1em;
}
.label.open:before {
    content: "\f077";
    font-family: FontAwesome;
    position: absolute;
    font-size: 1em;
    color: white;
    right: 1em;
    top:1em;
}



.bar .label.light {
    background: #454552;
}

.count {
    margin-right: 5px;
    color: rgb(69, 69, 82);
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.expand{
    display: none;
    color: rgb(69, 69, 82);
    padding: 0.55em;
    font-size: .75em;
    font-family: "Montserrat", sans-serif;
}

.bar.cf:before {
    content: "";
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 1000px;
    background-color: rgba(249, 183, 111, 0.23);
}


/*

 * ======= 2. chat style

 */

#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #454552;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timeline .timeline-item {
    margin-bottom: 0.5em;
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    position: absolute;
    top: 4px;
    left: 52%;
}
#timeline .timeline-item .timeline-content {
    border: 3px solid #454552;
    border-top: none !important;
    border-radius: 5px;
    width: 40%;
    background: #fff;
    margin: 0 3%;
}
#timeline .timeline-item .timeline-content p{
    margin: 0;
    padding-left: 2%;
}
#timeline .timeline-item .timeline-content h2 {
    background: #454552;
    color: #fff;
    font-weight: 100;
    font-size: 1em;
    text-shadow: none;
    margin: 0;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 43.6%;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #454552;
}
#timeline .timeline-item .timeline-content.right {
    float: right;
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
}

#pac-input{
    width: 97.8%;
    height: 2em;
    padding: 0 0.5em;
    border-radius: 5px;
    border: 2px solid #454552;
    outline: none;
}


@media screen and (max-width: 768px) {
    #timeline {
        padding: 0;
        width: 100%;
    }
    #timeline .timeline-item .timeline-content {
        width: 95%;
        margin: 0 auto 5px auto;
    }
    #timeline .timeline-icon {
        position: relative !important;
        top: 0 !important;
    }
    #timeline .timeline-content:before {
        display: none;
    }
    #timeline:before{
        display: none;
    }
    #pac-input{
        width: 97.3% !important;
        margin: 0 auto 5px auto;
        padding: 0 !important;
    }
}
