//colors
$white: #ffffff;
$color_black_haze_approx: #f6f6f6;
$black_5: rgba(0, 0, 0, 0.05);
$aquamarine: #7fffd4;
$color_cape_cod_approx: #404040;
$black_16: rgba(0, 0, 0, 0.16);
$black_23: rgba(0, 0, 0, 0.23);
$color_bittersweet_approx: #f66;
$color_celeste_approx: #ccc;
$color_fuscous_gray_approx: #555;
$color_tundora_approx: #444;
$black_18: rgba(0, 0, 0, 0.18);
$color_tapa_approx: #777;
$color_golden_tainoi_approx: #fc6;
$color_grandis_approx: #fdd692;
$color_goldenrod_approx: #ffcb71;
$color_mako_approx: #454552;
$color_rajah_23_approx: rgba(249, 183, 111, 0.23);
$color_sunset_orange_approx: #ee4d4d;
$color_alto_approx: #ddd;

//fonts
$font_0: Quicksand;
$font_1: sans-serif;
$font_2: Montserrat;
$font_3: FontAwesome;

@media screen and(max-width: 768px) {
    #timeline {
        padding: 0 !important;
        width: 100%;
        .timeline-icon {
            position: relative !important;
            top: 0 !important;
        }
        &:before {
            display: none;
        }
        .timeline-item .timeline-content {
            width: 95% !important;
            margin: 0 auto 5px auto !important;
        }
        .timeline-content:before {
            display: none;
        }
    }
    #pac-input {
        width: 97.3% !important;
        margin: 0 auto 5px auto;
        padding: 0 !important;
    }
}
@media(max-width: 768px) {
    .yi-git-inner {
        width: 100% !important;
    }
    #wrap {
        width: 100% !important;
        min-width: 100% !important;
        padding: 0 !important;
    }
    h1 {
        font-size: 1.5em !important;
    }
    h2 {
        font-size: 1.2em !important;
    }
    .card {
        width: 90% !important;
        padding: 10px 16px !important;
    }
    .bar {
        margin: .1em 0 !important;
        .label {
            text-align: center;
        }
    }
    .count {
        display: block;
    }
    .expand img {
        width: 100% !important;
    }
}
@media(min-width: 769px) {
    .count {
        position: absolute;
    }
}
.label {
    a {
        vertical-align: top;
        color: $white;
        text-decoration: none;
        display: block;
        padding: 1em;
    }
    &.close a:before {
        content: "\f078";
        font-family: $font_3;
        position: absolute;
        font-size: 1em;
        color: $white;
        right: 1em;
        top: 1em;
    }
    &.open a:before {
        content: "\f077";
        font-family: $font_3;
        position: absolute;
        font-size: 1em;
        color: $white;
        right: 1em;
        top: 1em;
    }
}
.txt-center {
    text-align: center;
}
.display-n {
    display: none;
}
body {
    background-color: $color_black_haze_approx;
    background-image: radial-gradient(circle, $black_5 25%, transparent 25%);
    background-size: 4px 4px;
}
#skip_nav {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    .shortcuts {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 0;
        a {
            text-align: center;
            height: 0;
            color: $white;
            font-size: 0.9em;
            margin: 0 auto;
            &:hover,&:active,&:focus{
                display: block;
                width: 300px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 5px;
                height: auto;
                padding: 0.5em;
                border: 2px solid $aquamarine;
                background-color: $color_cape_cod_approx;
            }
        }
    }
}
.yi-git {
    width: 100%;
    text-align: right;
    background-color: $white;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 6px $black_16, 0 0 6px $black_23;
    img {
        width: 2em;
        height: 2em;
    }
}
.yi-git-inner {
    padding: 0.2em 0;
    width: 1000px;
    margin: 0 auto 1em auto;
}
#wrap {
    margin: 0 auto;
    padding: 0 50px 50px;
    min-width: 1000px;
    width: 1000px;
}
h1 {
    margin: 0 !important;
    color: $color_bittersweet_approx;
    font: bold 48px/1 Quicksand, sans-serif;
    margin-bottom: 32px;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $color_black_haze_approx, 0 3px 0 $color_celeste_approx;
    text-align: center;
}
h2 {
    color: $color_fuscous_gray_approx;
    font: bold 24px/1.8 Quicksand, sans-serif;
    margin-bottom: 36px;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $color_black_haze_approx, 0 2px 0 $color_celeste_approx;
    text-align: center;
}
h3 {
    color: $color_tundora_approx;
    font: bold 20px $font_0, $font_1;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $color_black_haze_approx, 0 2px 0 $color_celeste_approx;
    text-align: center;
    border-bottom: 1px solid $black_18;
    margin: 0 0 15px 0;
    padding: 5px 0 10px;
}
p {
    color: $color_tapa_approx;
    font: bold 16px/3 Quicksand, sans-serif;
    margin-top: 30px;
    a {
        border-bottom: 2px solid $color_golden_tainoi_approx;
        color: $color_tapa_approx;
        text-decoration: none;
        &:hover {
            border-color: $color_bittersweet_approx;
        }
    }
}
.card {
    background: $white;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    position: relative;
    width: 95%;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
}
.card-2 {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 3px 6px $black_16, 0 3px 6px $black_23;
}
.gwrap {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.bar {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    background: $color_grandis_approx;
    width: 0;
    margin: .25em 0;
    color: $white;
    position: relative;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: width 1s, background .1s;
    &:nth-of-type(2n) {
        background: $color_goldenrod_approx;
    }
    .label {
        cursor: pointer;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        font-size: .75em;
        background: $color_mako_approx;
        width: 9em;
        display: inline-block;
        position: relative;
        z-index: 2;
        font-weight: bold;
        font-family: $font_2, $font_1;
        &.light {
            background: $color_mako_approx;
        }
    }
    &.cf:before {
        content: "";
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        position: absolute;
        height: 100%;
        width: 1000px;
        background-color: $color_rajah_23_approx;
    }
}
.count {
    margin-right: 5px;
    color: $color_mako_approx;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
    font-family: $font_2, $font_1;
}
.expand {
    display: none;
    color: $color_mako_approx;
    padding: 0.55em;
    font-size: .75em;
    font-family: $font_2, $font_1;
}
#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    &:before {
        content: "";
        width: 3px;
        height: 100%;
        background: $color_mako_approx;
        left: 50%;
        top: 0;
        position: absolute;
    }
    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }
    .timeline-item {
        margin-bottom: 0.5em;
        position: relative;
        .timeline-icon {
            position: absolute;
            top: 4px;
            left: 52%;
        }
        .timeline-content {
            border: 3px solid $color_mako_approx;
            border-top: none !important;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            width: 40%;
            background: $white;
            margin: 0 3%;
            p {
                margin: 0;
                padding-left: 2%;
                line-height: 2;
            }
            h2 {
                background: $color_mako_approx;
                color: $white;
                font-weight: 100;
                font-size: 1em;
                //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                text-shadow: none;
                margin: 0;
            }
            &:before {
                content: '';
                position: absolute;
                left: 43.6%;
                top: 7px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid $color_mako_approx;
            }
            &.right {
                float: right;
                &:before {
                    content: '';
                    right: 45%;
                    left: inherit;
                    border-left: 0;
                    border-right: 7px solid $color_sunset_orange_approx;
                }
            }
        }
    }
    .reply-wrap {
        border: 1px solid $color_alto_approx;
        width: 80%;
        margin: 0.5em auto;
        min-height: 2em;
        p {
            font-size: 0.8em;
            font-weight: 100;
            height: 2.5em;
        }
    }
    .reply-input-box {
        text-align: right;
        padding: 0.5em 0.5em;
        input {
            width: 100%;
        }
    }
}
#pac-input {
    width: 97.8%;
    height: 2em;
    padding: 0 0.5em;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    border: 2px solid $color_mako_approx;
    outline: none;
}
